ecs_cluster_name = "csnp-platform-cluster"
ecs_service_name = "csnp-platform-wallet-api-service"
min_capacity     = 2
max_capacity     = 4
cpu_target       = 60
memory_target    = 70
environment      = "lab"