ecs_cluster_name       = "csnp-platform-cluster"
ecs_service_name       = "csnp-platform-wallet-api-service"
alb_arn_suffix         = "app/csnp-platform-alb/REPLACE_ME"
target_group_arn_suffix = "targetgroup/csnp-platform-wallet-api-tg/REPLACE_ME"
log_group_name         = "/ecs/csnp-platform-wallet-api"
alarm_email            = ""
environment            = "lab"
